@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form-group">
    <label class="form-label">Assign to</label>
    <select id="assignee" class="js-example-basic-multiple" name="states[]" multiple="multiple" asp-items="@ViewBag.Assignee" style="width: 100%">
        <option value="" disabled selected>-- Select Employee --</option>
    </select>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });
    </script>
}
