﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="project-container"></div>




@section Scripts {
    <script>
        $(document).ready(function () {


            $.ajax({
                url: '/Project/GetProjects',
                type: 'GET',
                success: function (data) {
                    // Clear previous content
                    $('#project-container').empty();
                    // Iterate through projects and create cards
                    $.each(data, function (index, project) {
                        var card = '<div class="col-md-4">' +
                            '<div class="card mb-4">' +
                            '<div class="card-body">' +
                            '<div class="row">' +
                            '<div class="col-lg-4 d-flex align-items-center">' +
                            '<i class="bi bi-amazon me-2"></i>' +
                            '<h5>' + project.projectName + '</h5>' +
                            '</div>' +
                            '<div class="col-lg-4"></div>' +
                            '<div class="col-lg-4"></div>' +
                            '</div>' +
                            '<div class="col-lg-12">' +
                            '<p style="font-size: 12px;">' + project.description + '</p>' +
                            '</div>' +
                            '<div class="row">' +
                            '<div class="col-lg-4">1000hrs</div>' +
                            '<div class="col-lg-5">7 Days 6 Hrs</div>' +
                            '</div>' +
                            '<div class="row pt-3">' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-down-circle"></i></div>' +
                            '<div class="col-lg-3">Invoice</div>' +
                            '<div class="col-lg-2 d-flex">' +
                            '<i class="bi bi-person-add me-2"></i>' +
                            '<i class="bi bi-person-add"></i>' +
                            '</div>' +
                            '<div class="col-lg-1"><i class="bi bi-stopwatch"></i></div>' +
                            '<div class="col-lg-3">10hrs</div>' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-repeat"></i></div>' +
                            '<div class="col-lg-1"><i class="bi bi-three-dots-vertical"></i></div>' +
                            '</div>' +
                            '<div class="row pt-3">' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-down-circle"></i></div>' +
                            '<div class="col-lg-3">Invoice</div>' +
                            '<div class="col-lg-2 d-flex">' +
                            '<i class="bi bi-person-add me-2"></i>' +
                            '<i class="bi bi-person-add"></i>' +
                            '</div>' +
                            '<div class="col-lg-1"><i class="bi bi-stopwatch"></i></div>' +
                            '<div class="col-lg-3">10hrs</div>' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-repeat"></i></div>' +
                            '<div class="col-lg-1"><i class="bi bi-three-dots-vertical"></i></div>' +
                            '</div>' +
                            '<div class="row pt-3">' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-down-circle"></i></div>' +
                            '<div class="col-lg-3">Invoice</div>' +
                            '<div class="col-lg-2 d-flex">' +
                            '<i class="bi bi-person-add me-2"></i>' +
                            '<i class="bi bi-person-add"></i>' +
                            '</div>' +
                            '<div class="col-lg-1"><i class="bi bi-stopwatch"></i></div>' +
                            '<div class="col-lg-3">10hrs</div>' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-repeat"></i></div>' +
                            '<div class="col-lg-1"><i class="bi bi-three-dots-vertical"></i></div>' +
                            '</div>' +
                            '<div class="row pt-3">' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-down-circle"></i></div>' +
                            '<div class="col-lg-3">Invoice</div>' +
                            '<div class="col-lg-2 d-flex">' +
                            '<i class="bi bi-person-add me-2"></i>' +
                            '<i class="bi bi-person-add"></i>' +
                            '</div>' +
                            '<div class="col-lg-1"><i class="bi bi-stopwatch"></i></div>' +
                            '<div class="col-lg-3">10hrs</div>' +
                            '<div class="col-lg-1"><i class="bi bi-arrow-repeat"></i></div>' +
                            '<div class="col-lg-1"><i class="bi bi-three-dots-vertical"></i></div>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                        $('#project-container').append(card);
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

        });






    </script>
}@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
